* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    
}

/* intestazione della pagina */

header {
    background-image: url(img/wall.png);
    font-family: "Edu TAS Beginner", sans-serif;
}

/* titolo della pagina */

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    padding: 35px;
}

/* corpo della pagina */

/* sfondo della pagina */

main {
    background-image: url(img/cork.png);
}

/* cards */

.container {
    margin: 0 auto;
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: aqua;
    width: calc((100% - 40px) / 3);
    padding: 20px;
}

.card-pic {
    object-fit: cover;
    /* height: 270px; */
}

.card-text {
    height: 80px;
    padding-top: 25px;
    font-family: "Sometype Mono", monospace;
}

